In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2020-10-29 23:15:40,42.10,-79.24,44.01,93,90,6.93
1,1,Clyde River,CA,2020-10-29 23:16:34,70.47,-68.59,18.19,93,100,11.54
2,2,Hambantota,LK,2020-10-29 23:19:37,6.12,81.12,78.06,81,100,5.30
3,3,Namatanai,PG,2020-10-29 23:19:37,-3.67,152.43,80.38,78,99,7.38
4,4,Busselton,AU,2020-10-29 23:19:37,-33.65,115.33,62.01,67,1,1.99

In [3]:
#Get the Data Types of the Dataframe
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hambantota,LK,2020-10-29 23:19:37,6.12,81.12,78.06,81,100,5.30
3,3,Namatanai,PG,2020-10-29 23:19:37,-3.67,152.43,80.38,78,99,7.38
6,6,Cayenne,GF,2020-10-29 23:15:41,4.93,-52.33,82.40,83,75,4.70
9,9,Port Blair,IN,2020-10-29 23:14:55,11.67,92.75,80.24,84,97,7.96
12,12,San Cristobal,VE,2020-10-29 23:15:40,7.77,-72.22,84.20,66,40,9.17
15,15,Georgetown,MY,2020-10-29 23:19:38,5.41,100.34,77.00,94,20,4.09
23,23,Poum,NC,2020-10-29 23:19:39,-20.23,164.02,77.63,70,86,11.86
29,29,Avarua,CK,2020-10-29 23:18:47,-21.21,-159.78,77.00,73,100,9.17
36,36,Arlit,NE,2020-10-29 23:15:37,18.74,7.39,80.01,16,0,10.11
46,46,Dicabisagan,PH,2020-10-29 23:19:42,17.08,122.42,79.09,84,26,7.34

In [11]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
2      Hambantota      LK     78.06   6.12   81.12
3       Namatanai      PG     80.38  -3.67  152.43
6         Cayenne      GF     82.40   4.93  -52.33
9      Port Blair      IN     80.24  11.67   92.75
12  San Cristobal      VE     84.20   7.77  -72.22
15     Georgetown      MY     77.00   5.41  100.34
23           Poum      NC     77.63 -20.23  164.02
29         Avarua      CK     77.00 -21.21 -159.78
36          Arlit      NE     80.01  18.74    7.39
46    Dicabisagan      PH     79.09  17.08  122.42

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Hambantota,LK,78.06,6.12,81.12,Bungalow 63
3,Namatanai,PG,80.38,-3.67,152.43,Namatanai Hotel
6,Cayenne,GF,82.40,4.93,-52.33,Hôtel Le Dronmi
9,Port Blair,IN,80.24,11.67,92.75,Fortune Resort Bay Island
12,San Cristobal,VE,84.20,7.77,-72.22,Pirineos
...,...,...,...,...,...,...
557,Pouembout,NC,82.80,-21.13,164.90,Camping de Tipenga
559,Kokopo,PG,82.96,-4.35,152.26,Kokopo Beach Bungalow Resort
567,Charters Towers,AU,81.77,-20.10,146.27,Cattleman's Rest Motor Inn
568,Mackay,AU,84.00,-21.15,149.20,International Lodge Motel
570,Bairiki,KI,86.00,1.33,172.98,Tarawa Boutique Hotel

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))